.landing {
    height: 110vh;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 11vh 11vw;
    // z-index: -4;

    
    .landing-background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-image: url(../../assets/barbershop-landing1.jpeg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}