@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap");

.section-separator {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  // border-top: 1px solid white;
  // border-bottom: 1px solid white;

  h1 {
    margin: 0;
    color: white;
    font-family: "Red Rose", cursive;
  }
}
