.appointment-scheduler {
  width: 40%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.25em 0.5em;
  margin-right: 16.6vw;
  margin-bottom: 25vh;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);

  h1 {
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-bottom: -0.5em;
    font-size: 1.5em;
  }

  span {
    color: yellow;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 0.75em;
    font-size: 1.2rem;
    // text-shadow: 1px 1px 0 white;
  }

  .barber-and-time-container {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.75em;

    .barber-and-time-options {
      flex: 1;
      height: 100%;
      margin: 0 1em;
      padding: 0 0.5rem;
    }
  }
}
