@mixin shrinkLabel {
  top: -16px;
  left: 0;
  font-size: 12px;
  color: black;
}

@mixin shrinkLabelInverted {
  top: -16px;
  left: 0;
  font-size: 12px;
  color: white;
}

@mixin formLabel {
  left: 5px;
  top: 10px;
  color: gray;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  transition: 300ms ease all;
}

@mixin formatStyle {
  top: 38px;
  position: absolute;
  font-size: 12px;
}

.form-input-group {
  position: relative;
  padding: 0;
  margin-bottom: 2em;
  flex: 1;

  .form-input {
    width: 100%;
    display: block;
    background: none;
    background-color: white;
    color: black;
    font-size: 14px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    // margin-top: 0;
    padding: 10px 10px 10px 5px;
    // margin-bottom: auto;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }

    &:focus ~ .inverted {
      @include shrinkLabelInverted();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3rem;
  }

  .format {
    @include formatStyle();
    visibility: hidden;
    color: red;
    // transition: 150ms ease all;
  }

  .format-inverted {
    @include formatStyle();
    visibility: hidden;
    color: yellow;
  }

  input[type="tel"]:focus {
    ~ .format {
      @include formatStyle();
      color: red;
      visibility: visible;
    }

    ~ .format-inverted {
      @include formatStyle();
      color: yellow;
      visibility: visible;
    }
  }

  .form-input-label {
    @include formLabel();

    &.shrink {
      &.inverted {
        @include shrinkLabelInverted();
      }
      @include shrinkLabel();
    }
  }

  .select-form-options {
    width: 100%;
  }
}
