@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Gothic&display=swap");

.header-nav {
  grid-area: 1/1/2/-1;
  height: 100%;
  width: 100%;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  transition: all 0.2s ease-in-out;

  // background-color: black;
  // padding: 0 100px;

  position: sticky;
  top: 0;
  z-index: 1;

  .link-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-link {
      color: white;
      cursor: pointer;
      font-size: 0.95rem;
      font-family: "Nanum Gothic", sans-serif;
      font-weight: bolder;
      // margin: 0 auto;
      text-decoration: none;

      &.brand {
        font-family: "Bebas Neue", cursive;
        font-size: 1.4rem;
        text-decoration: underline;
        flex: 1;
        text-align: left;
        padding-left: 2.4rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #client-hub-link {
    grid-area: 1/5/2/6;
  }

  #make-appointment-link {
    grid-area: 1/6/2/7;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
