.services-menu-scroller {
    // width: 90%;
    height: 25%;
    // align-items: center;

    background-color: gray;
    margin: 35px 15px 0;
    padding: 3px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    border: 2px solid gray;
    border-radius: 1px;

    &::-webkit-scrollbar {
        display: none;
    }
}